*, *::after, *::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    background: #f0f0f0;
    
}

.container {
    font-family: 'Varela Round';
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    .table-container {
        flex: 1.5;
        text-align: center;
        .message {
            font-family: 'Montserrat';
            font-weight: 600;
        }
        table {
            margin: 0 auto;
            border-collapse: collapse;
            min-width: 280px;
            tr:first-child {
                td {
                    border-top: none;
                }
            }
            tr:last-child {
                td {
                    border-bottom: none;
                }
            }
            td:first-child {
                border-left: none;
            }
            td:last-child {
                border-right: none;
            }

            .cell {
                width: 100px;
                height: 100px;
                border: 2px solid black;
                font-family: 'Comic Sans MS';
                font-size: 74px;
            }
        }

        .restart-btn {
            display: inline-block;
            height: 38px;
            padding: 0 30px;
            margin-top: 20px;
            font-size: 12px;
            font-weight: 600;
            line-height: 38px;
            letter-spacing: 1.2px;
            border-radius: 4px;
            color: #fff;
            background-color: #28a745;
            border: 1px solid #28a745;
            white-space: nowrap;
            cursor: pointer;
            -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
            &:hover {
                background-color: #218838;
                border-color: #1e7e34;
            }
        }
    }
    .p1-container, .p2-container {
        flex: 1;
        text-align: center;
        svg {
            width: 60px;
            height: 60px;
        }
        .p1-svg {
            color: #17a2b8;
        }
        .p2-svg {
            color: #dc3545;
        }
    }
    .p1-container {
        color: #17a2b8;
    }
    .p2-container {
        color: #dc3545;
    }
    
}

@media (max-width: 550px) {
    .container {
        flex-direction: column;
        .table-container {
            .message {
                margin-top: 0;
            }
            table {
                .cell {
                    width: 75px;
                    height: 75px;
                    font-size: 60px;
                }
            }
        }
    }
    .p1-container, .p2-container {
        h1 {
            margin-bottom: 0;
        }
    }
}